#  Unit 2.3 Extracting Information from Data, Pandas
> Data connections, trends, and correlation.  Pandas is introduced as it could be valuable for PBL, data validation, as well as understanding College Board Topics.
- toc: true
- image: /images/python.png
- categories: []
- type: ap
- week: 25

# Files To Get

Save this file to your **_notebooks** folder

wget https://raw.githubusercontent.com/nighthawkcoders/APCSP/master/_notebooks/2023-03-09-AP-unit2-3.ipynb

Save these files into a subfolder named **files** in your **_notebooks** folder

wget https://raw.githubusercontent.com/nighthawkcoders/APCSP/master/_notebooks/files/data.csv

wget https://raw.githubusercontent.com/nighthawkcoders/APCSP/master/_notebooks/files/grade.json

Save this image into a subfolder named **images** in your **_notebooks** folder

wget https://raw.githubusercontent.com/nighthawkcoders/APCSP/master/_notebooks/images/table_dataframe.png

# Pandas and DataFrames
> In this lesson we will be exploring data analysis using Pandas.  

- College Board talks about ideas like 
    - Tools. "the ability to process data depends on users capabilities and their tools"
    - Combining Data.  "combine county data sets"
    - Status on Data"determining the artist with the greatest attendance during a particular month"
    - Data poses challenge. "the need to clean data", "incomplete data"


- [From Pandas Overview](https://pandas.pydata.org/docs/getting_started/index.html) -- When working with tabular data, such as data stored in spreadsheets or databases, pandas is the right tool for you. pandas will help you to explore, clean, and process your data. In pandas, a data table is called a DataFrame.


![DataFrame](images/table_dataframe.png)

In [202]:
'''Pandas is used to gather data sets through its DataFrames implementation'''
import pandas as pd 

# importing pandas

# Cleaning Data

When looking at a data set, check to see what data needs to be cleaned. Examples include:
- Missing Data Points
- Invalid Data
- Inaccurate Data

Run the following code to see what needs to be cleaned

- Column 3 row 5 "junior"
- Column 3 row 9 "9th grade"
- column 2 row 10 "nil"

In [203]:
# reads the JSON file and converts it to a Pandas DataFrame
df = pd.read_json('files/grade.json')

print(df) 
# What part of the data set needs to be cleaned?
# From PBL learning, what is a good time to clean data?  Hint, remember Garbage in, Garbage out?

   Student ID Year in School   GPA
0         123             12  3.57
1         246             10  4.00
2         578             12  2.78
3         469             11  3.45
4         324         Junior  4.75
5         313             20  3.33
6         145             12  2.95
7         167             10  3.90
8         235      9th Grade  3.15
9         nil              9  2.80
10        469             11  3.45
11        456             10  2.75

# Extracting Info

Take a look at some features that the Pandas library has that extracts info from the dataset

## DataFrame Extract Column

In [204]:
#print the values in the points column with column header
print(df[['GPA']])

print()

#try two columns and remove the index from print statement
print(df[['Student ID','GPA']].to_string(index=False))

     GPA
0   3.57
1   4.00
2   2.78
3   3.45
4   4.75
5   3.33
6   2.95
7   3.90
8   3.15
9   2.80
10  3.45
11  2.75

Student ID  GPA
       123 3.57
       246 4.00
       578 2.78
       469 3.45
       324 4.75
       313 3.33
       145 2.95
       167 3.90
       235 3.15
       nil 2.80
       469 3.45
       456 2.75

## DataFrame Sort

In [205]:
#print the values in the points column with column header
print(df[['GPA']])

print()

#try two columns and remove the index from print statement
print(df[['Student ID','GPA']].to_string(index=False))

     GPA
0   3.57
1   4.00
2   2.78
3   3.45
4   4.75
5   3.33
6   2.95
7   3.90
8   3.15
9   2.80
10  3.45
11  2.75

Student ID  GPA
       123 3.57
       246 4.00
       578 2.78
       469 3.45
       324 4.75
       313 3.33
       145 2.95
       167 3.90
       235 3.15
       nil 2.80
       469 3.45
       456 2.75

## DataFrame Selection or Filter

In [206]:
#print only values with a specific criteria 
print(df[df.GPA > 3.00])

   Student ID Year in School   GPA
0         123             12  3.57
1         246             10  4.00
3         469             11  3.45
4         324         Junior  4.75
5         313             20  3.33
7         167             10  3.90
8         235      9th Grade  3.15
10        469             11  3.45

## DataFrame Selection Max and Min

In [207]:
print(df[df.GPA == df.GPA.max()])
print()
print(df[df.GPA == df.GPA.min()])

  Student ID Year in School   GPA
4        324         Junior  4.75

   Student ID Year in School   GPA
11        456             10  2.75

# Create your own DataFrame

Using Pandas allows you to create your own DataFrame in Python.

## Python Dictionary to Pandas DataFrame

In [208]:
import pandas as pd

#the data can be stored as a python dictionary
dict = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}
#stores the data in a data frame
print("-------- -----Dict_to_DF------------------")
df = pd.DataFrame(dict)
print(df)

print("----------Dict_to_DF_labels--------------")

#or with the index argument, you can label rows.
df = pd.DataFrame(dict, index = ["day1", "day2", "day3"])
print(df)

-------- -----Dict_to_DF------------------
   calories  duration
0       420        50
1       380        40
2       390        45
----------Dict_to_DF_labels--------------
      calories  duration
day1       420        50
day2       380        40
day3       390        45

## Examine DataFrame Rows

In [209]:
print("-------Examine Selected Rows---------")
#use a list for multiple labels:
print(df.loc[["day1", "day3"]])

#refer to the row index:
print("--------Examine Single Row-----------")
print(df.loc["day1"])

-------Examine Selected Rows---------
      calories  duration
day1       420        50
day3       390        45
--------Examine Single Row-----------
calories    420
duration     50
Name: day1, dtype: int64

## Pandas DataFrame Information

In [210]:
#print info about the data set
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, day1 to day3
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calories  3 non-null      int64
 1   duration  3 non-null      int64
dtypes: int64(2)
memory usage: 180.0+ bytes
None

# Example of larger data set

Pandas can read CSV and many other types of files, run the following code to see more features with a larger data set

In [235]:
import pandas as pd

#read csv and sort 'Duration' largest to smallest
df = pd.read_csv('files/data.csv').sort_values(by=['Duration'], ascending=False)

print("--Duration Top 10---------")
print(df.head(10))

print("--Duration Bottom 10------")
print(df.tail(10))

--Duration Top 10---------
     Duration  Pulse  Maxpulse  Calories
69        300    108       143    1500.2
79        270    100       131    1729.0
109       210    137       184    1860.4
60        210    108       160    1376.0
106       180     90       120     800.3
90        180    101       127     600.1
65        180     90       130     800.4
61        160    110       137    1034.4
62        160    109       135     853.0
67        150    107       130     816.0
--Duration Bottom 10------
     Duration  Pulse  Maxpulse  Calories
68         20    106       136     110.4
100        20     95       112      77.7
89         20     83       107      50.3
135        20    136       156     189.0
94         20    150       171     127.4
95         20    151       168     229.4
139        20    141       162     222.4
64         20    110       130     131.4
112        15    124       139     124.2
93         15     80       100      50.5

# APIs are a Source for Writing Programs with Data
> 3rd Party APIs are a great source for creating Pandas Data Frames.  
- Data can be fetched and resulting json can be placed into a Data Frame
- Observe output, this looks very similar to a Database

In [236]:
'''Pandas can be used to analyze data'''
import pandas as pd
import requests

def fetch():
    '''Obtain data from an endpoint'''
    url = "https://flask.nighthawkcodingsociety.com/api/covid/"
    fetch = requests.get(url)
    json = fetch.json()

    # filter data for requirement
    df = pd.DataFrame(json['countries_stat'])  # filter endpoint for country stats
    print(df.loc[0:5, 'country_name':'deaths']) # show row 0 through 5 and columns country_name through deaths
    
fetch()

  country_name       cases     deaths
0          USA  82,649,779  1,018,316
1        India  43,057,545    522,193
2       Brazil  30,345,654    662,663
3       France  28,244,977    145,020
4      Germany  24,109,433    134,624
5           UK  21,933,206    173,352

# Hacks
> Early Seed award
- Add this Blog to you own Blogging site.
- Have all lecture files saved to your files directory before Tech Talk starts. Have data.csv open in vscode. Don't tell anyone. Show to Teacher.

> AP Prep
- Add this Blog to you own Blogging site.  In the Blog add notes and observations on each code cell.
- In blog add College Board practice problems for 2.3.

> The next 4 weeks, Teachers want you to improve your understanding of data.  Look at the blog and others on Unit 2.  Your intention is to find some things to differentiate your individual College Board project.
- Create or Find your own dataset.  The suggestion is to use a JSON file, integrating with your PBL project would be ***Fambulous***.

    When choosing a data set, think about the following:
    - Does it have a good sample size?
    - Is there bias in the data?
    - Does the data set need to be cleaned?
    - What is the purpose of the data set?
    - ...
- Continue this Blog using Pandas extract info from that dataset (ex. max, min, mean, median, mode, etc.)

## Hack Helpers
> Here is how Mort started on this assignment by asking ChatGPT  ... Regarding Python Pandas, what are some data sets that would be good for learning Pandas?

- There are many data sets that are suitable for learning pandas, depending on your interests and the skills you want to develop. Here are some suggestions:

    - Titanic Dataset: This is a classic dataset for data analysis and machine learning, and is often used as an introduction to pandas. The dataset contains information about passengers on the Titanic, including their demographics, ticket class, and survival status.

    - Iris Dataset: This is another classic dataset that is often used in machine learning and data analysis courses. The dataset contains information about iris flowers, including their sepal length, sepal width, petal length, and petal width.

    - NBA Player Stats: This dataset contains information about NBA players, including their stats for various games, their positions, and their salaries. It is a great dataset for learning how to clean and manipulate data using pandas.

    - Housing Prices Dataset: This dataset contains information about housing prices in a particular city or region, including variables such as the number of bedrooms, square footage, and price. It is a great dataset for learning how to manipulate and analyze numerical data using pandas.

    - COVID-19 Dataset: This dataset contains information about the COVID-19 pandemic, including the number of cases, deaths, and recoveries in various countries and regions. It is a great dataset for learning how to manipulate and analyze time-series data using pandas.

    - World Bank Dataset: This dataset contains information about economic indicators from various countries, such as GDP, population, and poverty rates. It is a great dataset for learning how to manipulate and analyze large datasets using pandas.

- These are just a few examples of the many datasets that are suitable for learning pandas. The best dataset for you will depend on your interests and the specific skills you want to develop.


> Follow up question, "where can I find Titanic data set?"

- The Titanic dataset is a popular dataset for data analysis and machine learning, and it can be found on various websites and data repositories. Here are a few places where you can find the Titanic dataset:

    - Kaggle: The Titanic dataset is available on Kaggle, which is a popular platform for data scientists and machine learning enthusiasts. You can download the dataset from the Kaggle website after creating an account.

    - UCI Machine Learning Repository: The Titanic dataset is also available on the UCI Machine Learning Repository, which is a collection of datasets that are commonly used for machine learning research. You can download the dataset from the UCI Machine Learning Repository website.

    - Seaborn library: If you have the Seaborn library installed in your Python environment, you can load the Titanic dataset directly from the library using the following code:

    ```python
    import seaborn as sns
    titanic_data = sns.load_dataset('titanic')
    ```

### Titanic Data
> Look at a sample of data.

In [237]:
import seaborn as sns

# Load the titanic dataset
titanic_data = sns.load_dataset('titanic')

print("Titanic Data")


print(titanic_data.columns) # titanic data set

print(titanic_data[['survived','pclass', 'sex', 'age', 'sibsp', 'parch', 'class', 'fare', 'embark_town']]) # look at selected columns

Titanic Data
Index(['survived', 'pclass', 'sex', 'age', 'sibsp', 'parch', 'fare',
       'embarked', 'class', 'who', 'adult_male', 'deck', 'embark_town',
       'alive', 'alone'],
      dtype='object')
     survived  pclass     sex   age  sibsp  parch   class     fare  \
0           0       3    male  22.0      1      0   Third   7.2500
1           1       1  female  38.0      1      0   First  71.2833
2           1       3  female  26.0      0      0   Third   7.9250
3           1       1  female  35.0      1      0   First  53.1000
4           0       3    male  35.0      0      0   Third   8.0500
..        ...     ...     ...   ...    ...    ...     ...      ...
886         0       2    male  27.0      0      0  Second  13.0000
887         1       1  female  19.0      0      0   First  30.0000
888         0       3  female   NaN      1      2   Third  23.4500
889         1       1    male  26.0      0      0   First  30.0000
890         0       3    male  32.0      0      0   Third   7.7500

     embark_town
0    Southampton
1      Cherbourg
2    Southampton
3    Southampton
4    Southampton
..           ...
886  Southampton
887  Southampton
888  Southampton
889    Cherbourg
890   Queenstown

[891 rows x 9 columns]

> Use Pandas to clean the data.  Most analysis, like Machine Learning or even Pandas in general like data to be in standardized format.  This is called 'Training' or 'Cleaning' data.

In [238]:

# Preprocess the data
from sklearn.preprocessing import OneHotEncoder


td = titanic_data
td.drop(['alive', 'who', 'adult_male', 'class', 'embark_town', 'deck'], axis=1, inplace=True)
td.dropna(inplace=True)
td['sex'] = td['sex'].apply(lambda x: 1 if x == 'male' else 0)
td['alone'] = td['alone'].apply(lambda x: 1 if x == True else 0)

# Encode categorical variables
enc = OneHotEncoder(handle_unknown='ignore')
enc.fit(td[['embarked']])
onehot = enc.transform(td[['embarked']]).toarray()
cols = ['embarked_' + val for val in enc.categories_[0]]
td[cols] = pd.DataFrame(onehot)
td.drop(['embarked'], axis=1, inplace=True)
td.dropna(inplace=True)

print(td)

     survived  pclass  sex   age  sibsp  parch      fare  alone  embarked_C  \
0           0       3    1  22.0      1      0    7.2500      0         0.0
1           1       1    0  38.0      1      0   71.2833      0         1.0
2           1       3    0  26.0      0      0    7.9250      1         0.0
3           1       1    0  35.0      1      0   53.1000      0         0.0
4           0       3    1  35.0      0      0    8.0500      1         0.0
..        ...     ...  ...   ...    ...    ...       ...    ...         ...
705         0       2    1  39.0      0      0   26.0000      1         0.0
706         1       2    0  45.0      0      0   13.5000      1         0.0
707         1       1    1  42.0      0      0   26.2875      1         0.0
708         1       1    0  22.0      0      0  151.5500      1         0.0
710         1       1    0  24.0      0      0   49.5042      1         1.0

     embarked_Q  embarked_S
0           0.0         1.0
1           0.0         0.0
2           0.0         1.0
3           0.0         1.0
4           0.0         1.0
..          ...         ...
705         0.0         1.0
706         0.0         1.0
707         1.0         0.0
708         0.0         1.0
710         0.0         0.0

[564 rows x 11 columns]

> The result of 'Training' data is making it easier to analyze or make conclusions.  In looking at the Titanic, as you clean you would probably want to make assumptions on likely chance of survival.

This would involve analyzing various factors (such as age, gender, class, etc.) that may have affected a person's chances of survival, and using that information to make predictions about whether an individual would have survived or not. 

- Data description:
    - Survival - Survival (0 = No; 1 = Yes). Not included in test.csv file.
    - Pclass - Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
    - Name - Name
    - Sex - Sex
    - Age - Age
    - Sibsp - Number of Siblings/Spouses Aboard
    - Parch - Number of Parents/Children Aboard
    - Ticket - Ticket Number
    - Fare - Passenger Fare
    - Cabin - Cabin
    - Embarked - Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)

- Perished Mean/Average

In [239]:
print(titanic_data.query("survived == 0").mean())

survived       0.000000
pclass         2.464072
sex            0.844311
age           31.073353
sibsp          0.562874
parch          0.398204
fare          24.835902
alone          0.616766
embarked_C     0.185629
embarked_Q     0.038922
embarked_S     0.775449
dtype: float64

- Survived Mean/Average

In [240]:
print(td.query("survived == 1").mean())

survived       1.000000
pclass         1.878261
sex            0.326087
age           28.481522
sibsp          0.504348
parch          0.508696
fare          50.188806
alone          0.456522
embarked_C     0.152174
embarked_Q     0.034783
embarked_S     0.813043
dtype: float64

> Survived Max and Min Stats

In [241]:
print(td.query("survived == 1").max())
print(td.query("survived == 1").min())

survived        1.0000
pclass          3.0000
sex             1.0000
age            80.0000
sibsp           4.0000
parch           5.0000
fare          512.3292
alone           1.0000
embarked_C      1.0000
embarked_Q      1.0000
embarked_S      1.0000
dtype: float64
survived      1.00
pclass        1.00
sex           0.00
age           0.75
sibsp         0.00
parch         0.00
fare          0.00
alone         0.00
embarked_C    0.00
embarked_Q    0.00
embarked_S    0.00
dtype: float64

## Machine Learning
> [From Tutorials Point](https://www.tutorialspoint.com/scikit_learn/scikit_learn_introduction.htm#:~:text=Scikit%2Dlearn%20(Sklearn)%20is,a%20consistence%20interface%20in%20Python).  Scikit-learn (Sklearn) is the most useful and robust library for machine learning in Python. It provides a selection of efficient tools for machine learning and statistical modeling including classification, regression, clustering and dimensionality reduction via a consistence interface in Python.

> Description from ChatGPT. The Titanic dataset is a popular dataset for data analysis and machine learning. In the context of machine learning, accuracy refers to the percentage of correctly classified instances in a set of predictions. In this case, the testing data is a subset of the original Titanic dataset that the decision tree model has not seen during training......After training the decision tree model on the training data, we can evaluate its performance on the testing data by making predictions on the testing data and comparing them to the actual outcomes. The accuracy of the decision tree classifier on the testing data tells us how well the model generalizes to new data that it hasn't seen before......For example, if the accuracy of the decision tree classifier on the testing data is 0.8 (or 80%), this means that 80% of the predictions made by the model on the testing data were correct....Chance of survival could be done using various machine learning techniques, including decision trees, logistic regression, or support vector machines, among others.

- Code Below prepares data for further analysis and provides an Accuracy.  IMO, you would insert a new passenger and predict survival.  Datasets could be used on various factors like prediction if a player will hit a Home Run, or a Stock will go up or down.
    - [Decision Trees](https://scikit-learn.org/stable/modules/tree.html#tree), prediction by a piecewise constant approximation.
    - [Logistic Regression](https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression), the probabilities describing the possible outcomes.

In [242]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

# Split arrays or matrices into random train and test subsets.
X = td.drop('survived', axis=1)
y = td['survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Train a decision tree classifier
dt = DecisionTreeClassifier()
dt.fit(X_train, y_train)

# Test the model
y_pred = dt.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print('DecisionTreeClassifier Accuracy:', accuracy)

# Train a logistic regression model
logreg = LogisticRegression()
logreg.fit(X_train, y_train)

# Test the model
y_pred = logreg.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print('LogisticRegression Accuracy:', accuracy)

DecisionTreeClassifier Accuracy: 0.7588235294117647
LogisticRegression Accuracy: 0.788235294117647

/Users/kushsirohi/opt/anaconda3/lib/python3.9/site-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

# Books I read Dataset
> Here I made a dataset from my personal life, which I display books I read and my ratings on them

In [259]:
import pandas as pd

df = pd.read_csv('files/NBA.csv').sort_values(by=['age'], ascending=False)


print("--FG Top 10---------")
print(df.head(10))

# Ask the teacher the question. Df.head only works when using it in this cell block, but when I add df.tail, it doesnt show. I have to put it in a different cell block for it to show.

--FG Top 10---------
       Unnamed: 0      player_name team_abbreviation   age  player_height  \
4698         4698     Kevin Willis               DAL  44.0         213.36
270           270    Robert Parish               CHI  43.0         215.90
10818       10818     Vince Carter               ATL  43.0         198.12
5680         5680  Dikembe Mutombo               HOU  43.0         218.44
4892         4892  Dikembe Mutombo               HOU  42.0         218.44
12149       12149    Udonis Haslem               MIA  42.0         203.20
10240       10240     Vince Carter               ATL  42.0         198.12
3795         3795     Kevin Willis               ATL  42.0         213.36
1291         1291    Herb Williams               NYK  41.0         210.82
2818         2818    John Stockton               UTA  41.0         185.42

       player_weight         college country draft_year draft_round  ...  \
4698      111.130040  Michigan State     USA       1984           1  ...
270       110.676448  Centenary (LA)     USA       1976           1  ...
10818      99.790240  North Carolina     USA       1998           1  ...
5680      117.933920      Georgetown   Congo       1991           1  ...
4892      117.933920      Georgetown   Congo       1991           1  ...
12149     106.594120         Florida     USA  Undrafted   Undrafted  ...
10240      99.790240  North Carolina     USA       1998           1  ...
3795      111.130040  Michigan State     USA       1984           1  ...
1291      117.933920      Ohio State     USA       1981           1  ...
2818       79.378600         Gonzaga     USA       1984           1  ...

        pts  reb  ast  net_rating  oreb_pct  dreb_pct  usg_pct  ts_pct  \
4698    2.4  1.6  0.2        11.9     0.063     0.222    0.184   0.432
270     3.7  2.1  0.5        14.9     0.114     0.130    0.201   0.514
10818   5.0  2.1  0.8        -8.1     0.019     0.114    0.163   0.470
5680    1.8  3.7  0.0         1.8     0.152     0.241    0.111   0.472
4892    3.0  5.1  0.1         3.6     0.118     0.221    0.086   0.591
12149   2.5  1.9  0.3        -9.5     0.043     0.239    0.183   0.495
10240   7.4  2.6  1.1        -6.3     0.021     0.114    0.164   0.565
3795    3.0  2.6  0.3       -15.5     0.091     0.164    0.151   0.434
1291    1.7  1.0  0.0         0.9     0.088     0.103    0.138   0.563
2818   10.8  2.5  7.7         5.2     0.028     0.078    0.191   0.577

       ast_pct   season
4698     0.034  2006-07
270      0.082  1996-97
10818    0.081  2019-20
5680     0.000  2008-09
4892     0.012  2007-08
12149    0.077  2021-22
10240    0.097  2018-19
3795     0.043  2004-05
1291     0.000  1998-99
2818     0.445  2002-03

[10 rows x 22 columns]

In [260]:
import pandas as pd

df = pd.read_csv('files/NBA.csv').sort_values(by=['age'], ascending=False)


print("--bottom 10---------")
print(df.tail(10))

--bottom 10---------
       Unnamed: 0      player_name team_abbreviation   age  player_height  \
8488         8488    Bruno Caboclo               TOR  19.0         205.74
8783         8783    Rashad Vaughn               MIL  19.0         198.12
12194       12194     Joshua Primo               SAS  19.0         193.04
4410         4410  Martell Webster               POR  19.0         200.66
9206         9206  Marquese Chriss               PHX  19.0         208.28
10523       10523    Kevin Knox II               NYK  19.0         205.74
11829       11829   Jaden Springer               PHI  19.0         193.04
342           342      Kobe Bryant               LAL  18.0         200.66
78             78  Jermaine O'Neal               POR  18.0         210.82
4138         4138     Andrew Bynum               LAL  18.0         213.36

       player_weight     college country draft_year draft_round  ...   pts  \
8488       92.986360        None  Brazil       2014           1  ...   1.3
8783       91.625584        UNLV     USA       2015           1  ...   3.1
12194      85.728888     Alabama  Canada       2021           1  ...   5.8
4410       95.254320        None     USA       2005           1  ...   6.6
9206      105.686936  Washington     USA       2016           1  ...   9.2
10523      97.522280    Kentucky     USA       2018           1  ...  12.8
11829      91.625584   Tennessee     USA       2021           1  ...   1.0
342        90.718400        None     USA       1996           1  ...   7.6
78        102.511792        None     USA       1996           1  ...   4.1
4138      124.737800        None     USA       2005           1  ...   1.6

       reb  ast  net_rating  oreb_pct  dreb_pct  usg_pct  ts_pct  ast_pct  \
8488   0.3  0.0       -60.3     0.048     0.050    0.315   0.417    0.000
8783   1.3  0.6        -6.8     0.012     0.086    0.133   0.398    0.055
12194  2.3  1.6        -3.3     0.031     0.079    0.152   0.487    0.111
4410   2.1  0.6       -14.6     0.029     0.120    0.183   0.533    0.055
9206   4.2  0.7       -10.8     0.058     0.164    0.196   0.529    0.051
10523  4.5  1.1       -13.6     0.025     0.120    0.219   0.475    0.060
11829  1.0  0.0       -72.4     0.143     0.125    0.118   1.000    0.000
342    1.9  1.3         2.2     0.048     0.084    0.244   0.544    0.144
78     2.8  0.2         1.3     0.099     0.198    0.199   0.494    0.030
4138   1.7  0.2        -4.0     0.110     0.154    0.152   0.394    0.044

        season
8488   2014-15
8783   2015-16
12194  2021-22
4410   2005-06
9206   2016-17
10523  2018-19
11829  2021-22
342    1996-97
78     1996-97
4138   2005-06

[10 rows x 22 columns]

In [266]:
print("------Here are the players with the highest average points------")
print(df[df.pts == df.pts.max()])
print()



print("------Here are the players with the lowest average points------")
print(df[df.pts == df.pts.min()])
print()

------Here are the players with the highest average points------
       Unnamed: 0   player_name team_abbreviation   age  player_height  \
10572       10572  James Harden               HOU  29.0         195.58

       player_weight        college country draft_year draft_round  ...   pts  \
10572       99.79024  Arizona State     USA       2009           1  ...  36.1

       reb  ast  net_rating  oreb_pct  dreb_pct  usg_pct  ts_pct  ast_pct  \
10572  6.6  7.5         6.3     0.023     0.157    0.396   0.616    0.394

        season
10572  2018-19

[1 rows x 22 columns]

------Here are the players with the lowest average points------
       Unnamed: 0               player_name team_abbreviation   age  \
3111         3111            Olden Polynice               LAC  39.0
2676         2676              Chris Dudley               POR  38.0
2090         2090             Muggsy Bogues               TOR  36.0
6721         6721             Brian Skinner               MEM  36.0
6279         6279             Brian Skinner               MIL  35.0
...           ...                       ...               ...   ...
3263         3263             Slavko Vranes               POR  21.0
11578       11578             Ashton Hagans               MIN  21.0
2795         2795             Jamal Sampson               MIL  20.0
10310       10310              Ike Anigbogu               IND  20.0
4411         4411  Martynas Andriuskevicius               CLE  20.0

       player_height  player_weight      college    country draft_year  \
3111          208.28     113.398000     Virginia        USA       1987
2676          210.82     117.933920         Yale        USA       1987
2090          160.02      61.688512  Wake Forest        USA       1987
6721          205.74     115.665960       Baylor        USA       1998
6279          205.74     115.665960       Baylor        USA       1998
...              ...            ...          ...        ...        ...
3263          226.06     124.737800         None        USA       2003
11578         190.50      86.182480     Kentucky        USA  Undrafted
2795          210.82     106.594120   California        USA       2002
10310         208.28     113.398000         UCLA        USA       2017
4411          218.44     108.862080         None  Lithuania       2005

      draft_round  ...  pts  reb  ast  net_rating  oreb_pct  dreb_pct  \
3111            1  ...  0.0  1.0  0.5         1.8     0.111     0.100
2676            4  ...  0.0  0.7  0.0       -65.5     0.167     0.000
2090            1  ...  0.0  1.0  1.7       -27.4     0.000     0.120
6721            1  ...  0.0  0.0  0.0       -88.4     0.000     0.000
6279            1  ...  0.0  0.0  0.0       -95.6     0.000     0.000
...           ...  ...  ...  ...  ...         ...       ...       ...
3263            2  ...  0.0  0.0  0.0       -10.0     0.000     0.000
11578   Undrafted  ...  0.0  0.0  0.0       -21.8     0.000     0.000
2795            2  ...  0.0  0.4  0.2        12.3     0.125     0.125
10310           2  ...  0.0  1.0  0.3       -14.3     0.143     0.250
4411            2  ...  0.0  0.7  0.0        37.1     0.125     0.375

       usg_pct  ts_pct  ast_pct   season
3111     0.172     0.0    0.143  2003-04
2676     0.045     0.0    0.000  2002-03
2090     0.078     0.0    0.294  2000-01
6721     0.100     0.0    0.000  2011-12
6279     0.000     0.0    0.000  2010-11
...        ...     ...      ...      ...
3263     0.145     0.0    0.000  2003-04
11578    0.083     0.0    0.000  2020-21
2795     0.118     0.0    0.333  2002-03
10310    0.267     0.0    0.200  2018-19
4411     0.042     0.0    0.000  2005-06

[156 rows x 22 columns]

In [273]:
print("Average overall stats of the typical player in the NBA")

df.mean()

Average overall stats of the typical player in the NBA

/var/folders/t5/fkg7hq2x4ml17j36_f8wxr000000gn/T/ipykernel_24989/962595910.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.mean()

Unnamed: 0       6152.000000
age                27.084518
player_height     200.611602
player_weight     100.369926
gp                 51.290532
pts                 8.172775
reb                 3.559155
ast                 1.813986
net_rating         -2.255733
oreb_pct            0.054473
dreb_pct            0.141014
usg_pct             0.184891
ts_pct              0.511060
ast_pct             0.131358
dtype: float64

In [275]:
print("------Here are the players with their average number of points over 20------")

print(df[df.pts > 20.00])

------Here are the players with their average number of points over 20------
       Unnamed: 0      player_name team_abbreviation   age  player_height  \
2995         2995      Karl Malone               UTA  39.0         205.74
2199         2199   Michael Jordan               WAS  39.0         198.12
2276         2276      Karl Malone               UTA  38.0         205.74
2079         2079      Karl Malone               UTA  37.0         205.74
12175       12175     LeBron James               LAL  37.0         205.74
...           ...              ...               ...   ...            ...
11365       11365  Zion Williamson               NOP  20.0         200.66
10451       10451      Luka Doncic               DAL  20.0         200.66
3120         3120     LeBron James               CLE  19.0         203.20
10799       10799  Zion Williamson               NOP  19.0         198.12
5208         5208     Kevin Durant               SEA  19.0         205.74

       player_weight         college   country draft_year draft_round  ...  \
2995      116.119552  Louisiana Tech       USA       1985           1  ...
2199       97.975872  North Carolina       USA       1984           1  ...
2276      116.119552  Louisiana Tech       USA       1985           1  ...
2079      116.119552  Louisiana Tech       USA       1985           1  ...
12175     113.398000            None       USA       2003           1  ...
...              ...             ...       ...        ...         ...  ...
11365     128.820128            Duke       USA       2019           1  ...
10451      98.883056            None  Slovenia       2018           1  ...
3120      108.862080            None       USA       2003           1  ...
10799     128.820128            Duke       USA       2019           1  ...
5208       97.522280           Texas       USA       2007           1  ...

        pts  reb  ast  net_rating  oreb_pct  dreb_pct  usg_pct  ts_pct  \
2995   20.6  7.8  4.7         3.0     0.049     0.203    0.276   0.534
2199   22.9  5.7  5.2        -0.3     0.027     0.163    0.361   0.468
2276   22.4  8.6  4.3         0.8     0.057     0.218    0.288   0.532
2079   23.2  8.3  4.5         5.8     0.050     0.236    0.299   0.572
12175  30.3  8.2  6.2        -2.5     0.031     0.185    0.317   0.619
...     ...  ...  ...         ...       ...       ...      ...     ...
11365  27.0  7.2  3.7         2.1     0.081     0.131    0.287   0.649
10451  21.2  7.8  6.0        -3.1     0.036     0.198    0.296   0.545
3120   20.9  5.5  5.9        -2.6     0.035     0.117    0.280   0.488
10799  22.5  6.3  2.1         5.1     0.092     0.114    0.291   0.616
5208   20.3  4.4  2.4       -11.7     0.027     0.111    0.278   0.519

       ast_pct   season
2995     0.236  2002-03
2199     0.295  2001-02
2276     0.216  2001-02
2079     0.234  2000-01
12175    0.297  2021-22
...        ...      ...
11365    0.188  2020-21
10451    0.317  2018-19
3120     0.268  2003-04
10799    0.119  2019-20
5208     0.120  2007-08

[646 rows x 22 columns]

In [277]:
print("------These are the median stats by the players in the NBA ------")
df.median()

------These are the median stats by the players in the NBA ------

/var/folders/t5/fkg7hq2x4ml17j36_f8wxr000000gn/T/ipykernel_24989/1381966225.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df.median()

Unnamed: 0       6152.00000
age                26.00000
player_height     200.66000
player_weight      99.79024
gp                 57.00000
pts                 6.70000
reb                 3.00000
ast                 1.20000
net_rating         -1.30000
oreb_pct            0.04100
dreb_pct            0.13100
usg_pct             0.18100
ts_pct              0.52400
ast_pct             0.10300
dtype: float64